<!DOCTYPE html>
<html>
<head>
    <title>Accounts Coding Test</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Frontier Coding Test</title>
</head>
<body>
    <section id="wrapper">
        <header>
            <div class="title-container">
                <h1>Coding Test</h1>
            </div>
        </header>
        @RenderBody()


        <footer>
            <p class="copy">
                &copy;
                <script>document.write(new Date().getFullYear())</script>
            </p>
        </footer>
    </section>
</body>
</html>